{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact" style="margin-right:150px; padding-bottom: 350px;float:right">
            <h2>{{ .Site.Data.homepage.contact.title }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                        <div class="row"></div>
                            <div class="col-12 col-sm-6">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="inbound-form-wrapper" id="form_3051" id style= "width: 500px" data-path="https://app.99inbound.com/i/f1a591b0-192c-45c8-b9ed-5145ecd1ee5c" data-token="0gkuThzonK4MxmP1OG8Qqwtt"></div>

                <!-- Only include this once in your webpage -->
                <script type="text/javascript" src="https://app.99inbound.com/99inbound.js"></script>

                <div class="contact__info" style="padding-right:500px !important">
                    <h4 style="font-size:20px">{{ .Site.Data.homepage.contact.email.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4 style="font-size:30px">{{ .Site.Data.homepage.contact.address.title }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div>


            </div>
        </div>
    </div>
</section>
{{ end }}
